body {
  font-family: "avenir";
}

$color: #fff;

div.container {
  background: red;
  height: 400px;
  width: 75%;
}

ul.items-list {
  background: green;

  li.item-container {
    background: #333;

    div.date-time {
      background: yellow;

      p {
      color: #D3D3D3;
      }

      h4 {
        font-size: 40px;
        font-weight: bold;
        color: #6CBFEE;
      }

    }

    div.item-icon {
      background: #3594CB;
      color: $color;
      border-radius: 50%;
      width: 5%;
      border: 7px solid #AFDCF8;

      i.fa {
        font-size: 34px;
        margin-left: 28%;
      }
    }

    div.item-content {
      color: $color;
      background: #6CBFEE;
      width: 80%;
      padding: 30px 30px 40px 30px;
      border-radius: 5px;

      h3 {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 0;
        padding-bottom: 15px;
        border-bottom: .5px solid rgba(255, 255, 255, .5);
      }
      p {
        padding-top: 15px;
        line-height: 1.4em;

      }
    }
  }

}
