body {
    font-family: "avenir";
}

div.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: $rel;
    transition: width 1.5s ease;

    @include media(desktop) {
            width: 98%;
    }

    @include media(mobile) {
            width: 100%;
    }
}

ul.items-list {
    height: 100%;

    li.item-container {
      float: left;
        // height: 100%;

        div.date-time {
            background: #fff;
            width: 15%;
            float: left;
            text-align: right;
            margin-top: 40px;

            @include media(mobile) {
                    float: none;
                    display: block;
                    margin: 10px auto;
            }

            @include media(tablet) {
                text-align: left;
            }


            p {
                color: #D3D3D3;

            }

            h4 {
                font-size: 40px;
                font-weight: bold;
                color: #6CBFEE;
                padding-right: 1px;
                transition: font-size 1.5s ease;

                @include media(tablet) {
                    font-size: 30px;
                }

                @include media(tablet) {
                    font-size: 25px;
                }

                &.greens {
                    color: #3594CB;
                }
            }
        }

        div.item-content {
            color: $textcolor;
            background: #6CBFEE;
            width: 70%;
            padding: 30px 30px 40px;
            border-radius: 5px;
            float: left;
            margin-left: 10%;
            position: $rel;
            margin-top: 40px;

            @include media(mobile) {
              margin-left: 25%;
              margin-top: 0;
            }

            &:first-of-type{
              @include media(mobile) {
                margin-bottom: 10px;
              }
            }

            &.greens {
                background: #3594CB;
            }

            div.triangle {
                position: $abs;
                top: 8px;
                left: -9px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 10px 8px 0;
                border-color: transparent #6CBFEE transparent transparent;

                &.greens {
                    border-color: transparent #3594CB transparent transparent;
                }
            }

            h3 {
                font-size: 28px;
                font-weight: bold;
                letter-spacing: 0;
                padding-bottom: 15px;
                border-bottom: 0.5px solid rgba(255, 255, 255, .5);
            }

            p {
                padding-top: 15px;
                line-height: 1.4em;
            }
        }
    }
}
