*,
*:after,
*:before {
    box-sizing: border-box;
}
$textcolor: #fff;
$timelinecolor: #AFDCF8;
$abs: absolute;
$rel: relative;
@import "partials/mixins";
@import "partials/body";
@import "partials/timeline-image";
